/* All */
body {
  font-family: "Work Sans";
  font-size: 16px;
}
/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(35,2,63);
  padding: 2.75rem 0;
}

.title {
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
  font-family: "Righteous";
  margin: 0 5rem;
}

.research {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 5rem;
}

.imput {
  color: rgb(191, 191, 191);
  border-radius: 1rem;
  background-color: white;
  padding: 1rem 5rem;
}





/* Content */




/* Media */
